#crypto-market-block
{
	padding-left: 40px;
	padding-right: 40px;
	background-color: #F5F5F5;
}

#trending-coins-carousel
{
	margin-bottom: 50px;
}

#trending-coins-block
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

#crypto-page-header
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	padding-top: 20px;
	font-family: 'Montserrat', sans-serif;
}

#crypto-page-header > h1
{
	margin-bottom: 0;
}

#crypto-page-header > p
{
	margin-top: 10px;
}

#trending-coins-block > div > div
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
}

#trending-coins-block > div > div  *
{
	margin-bottom: 7px;
	margin-top: 10px;
}

#trending-coins-block > div > h4
{
	text-align: center;
	margin: 0;
}

#coin-icon-block
{
	display: flex;
	align-items: center;
	gap: 20px;
}

#all-coins-data
{
	padding-left: 24px;
	padding-right: 24px;
	margin-bottom: 30px;
}

#pagination
{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

#input-box
{
	position: relative;
	margin-left: 26px;
	margin-right: 26px;
	margin-bottom: 20px;
}

#input-box input
{
	background-color: #F5F5F5;
	padding: 15px 14px;
	font-size: 1em;
	border-radius: 5px;
	width: 100%;
	outline: none;
	box-sizing: border-box;
	border: 1px solid rgb(145, 145, 145);
	font-family: 'Montserrat', sans-serif;
}

#input-box input:hover,
#input-box input:focus
{
	box-shadow: 0px 0px 0px 1px #333;
}

#input-box span
{
	position: absolute;
	left: 0;
	top: 2px;
	padding: 14px;
	pointer-events: none;
	color: #333;
	transition: all 0.2s;
	font-family: 'Montserrat', sans-serif;
}

#input-box input:valid ~ span,
#input-box input:focus ~ span
{
	color: #333;
	transform: translateX(11px) translateY(-10px);
	background-color: #F5F5F5;
	padding: 0px 4px;
	font-size: 12px;
}