#crypto-market-block
{
	margin-left: 40px;
	margin-right: 40px;
	
}

#trending-coins-carousel
{
	margin-bottom: 50px;
}

#trending-coins-block
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

#crypto-page-header
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
}

#crypto-page-header > h1
{
	margin-bottom: 0;
}

#crypto-page-header > p
{
	margin-top: 10px;
}

#trending-coins-block > div > div
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
}

#trending-coins-block > div > div  *
{
	margin-bottom: 7px;
	margin-top: 10px;
}

#trending-coins-block > div > h4
{
	text-align: center;
	margin: 0;
}

#coin-icon-block
{
	display: flex;
	align-items: center;
	gap: 20px;
}

#all-coins-data
{
	padding-left: 24px;
	padding-right: 24px;
	margin-bottom: 30px;
}

#pagination
{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.MuiTouchRipple-root.css-8je8zh-MuiTouchRipple-root
{
	/* background-color: red; */
	/* color: #ffbf00; */
}