#hero
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 70px;
	margin-bottom: 100px;
	font-family: 'Montserrat', sans-serif;
}

main
{
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 100px;
}

#hero-text > h2
{
	font-size: 42px;
	margin-bottom: 0;
}


#hero-text > p
{
	font-size: 22px;
}

#call-to-action-buttons
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#call-to-action-buttons > a
{
	color: white;
	font-size: 20px;
	padding: 5px;
	border-radius: 8px;
	width: 100px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 20px;
	text-align: center;
	background: linear-gradient(to left, #7d5e00, #333333);
	transition: background-color, transform 0.5s ease;
}

#call-to-action-buttons > a:hover
{
	background-color: #FFBF00;
	transform: scale(1.04);
}

#call-to-action-buttons > a:active
{
	opacity: 0.7;
}

#hero-text
{
	width: 45%;
}

#call-to-use
{
	margin-top: 90px;
	font-family: 'Montserrat', sans-serif;
}

#call-to-use > h4, #call-to-use > h2
{
	text-align: center;
}

#why-points
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex-direction: row;
	gap: 27px;
	margin-top: 65px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 80px;
}

#why-points > div
{
	/* border: 1px solid #333333; */
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}

.first-point
{
	border-radius: 100% 0% 100% 0% / 28% 100% 0% 72%;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.second-point
{
	padding: 15px;
}

.third-point
{
	border-radius: 0% 100% 0% 100% / 100% 28% 72% 0% ;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

#why-points > div > div > h3
{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 24px;
	font-weight: 900;
	color: #333333;
}

#why-points > div > div > p
{
	margin: 20px;
	font-size: 19px;
	color: #333333;
}

#crypto-data-examples
{
	padding-left: 24px;
	padding-right: 24px;
	margin-bottom: 80px;
}

#crypto-data-example-head
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Montserrat', sans-serif;
}

#coin-name-block
{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

#news-header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left : 15px;
	padding-right : 15px;
}

#news-example
{
	margin-bottom: 80px;
	padding-left: 24px;
	padding-right: 24px;
	font-family: 'Montserrat', sans-serif;
}

#some-news
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 35px;
}

#some-news > div > img
{
	object-fit: cover;
	width: 100%;
}

#some-news > div > h2
{
	margin: 0;
}

#some-news > div:hover
{
	text-decoration: underline;
	cursor: pointer;
	box-shadow: 1px 1px 4px #333333;
	box-sizing: border-box;
}

#some-news > div
{
	transition: box-shadow 0.6s ease;
	padding-bottom: 50px;
	position: relative;
	background-color: white;
}

#some-news > div > p
{
	font-size: 17px;
	padding: 15px;
	margin-top: 0px;
}

#some-news > div > h2
{
	padding: 11px;
}

#some-news > div > h5
{
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	font-style: italic;
}

#used-apis
{
	margin-top: 80px;
	font-family: 'Montserrat', sans-serif;
}

#api-icons
{
	margin-top: 40px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#crypto-data-example-head > a, #news-header > a
{
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 18px;
	border: 1px solid #333333;
	background-color: #333333;
	color: white;
	border-radius: 7px;
	padding-left: 10px;
	padding-right: 7px;
}

#crypto-data-example-head > a img, #news-header > a img
{
	margin-left: 6px;
	transition: margin-left 0.5s ease;
}

#crypto-data-example-head > a:hover img, #news-header > a:hover img
{
	margin-left: 15px;
}

#crypto-data-example-head > a:active, #news-header > a:active
{
	opacity: 0.8;
}

#crypto-data-examples > a > img
{
	margin-right: 30px;
}

.easy-word
{
	background: linear-gradient(to right, #FFBF00, #333333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}