#hero
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 70px;
	margin-bottom: 100px;
}

main
{
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 100px;
}

#hero-text > h2
{
	font-size: 35px;
}


#hero-text > p
{
	font-size: 22px;
}

#call-to-action-buttons
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#hero-text
{
	width: 50%;
}

#call-to-use > h4, #call-to-use > h2
{
	text-align: center;
}

#why-points
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex-direction: row;
	gap: 27px;
	margin-top: 65px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 80px;
}

#why-points > div
{
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.first-point
{
	border-radius: 100% 0% 100% 0% / 28% 100% 0% 72%;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.second-point
{
	padding: 15px;
}

.third-point
{
	border-radius: 0% 100% 0% 100% / 100% 28% 72% 0% ;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

#why-points > div > div > h3
{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 24px;
}

#why-points > div > div > p
{
	margin: 20px;
	font-size: 20px;
}

#crypto-data-examples
{
	padding-left: 24px;
	padding-right: 24px;
}

#crypto-data-example-head
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}