.alice-carousel
{
	margin-top: 80px;
	margin-bottom: 50px;
}

#carousel-image-block
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 40px;
	font-family: 'Montserrat', sans-serif;
}

.carousel-news-description
{
	font-size: 20px;
}

#carousel-infos
{
	padding-bottom: 40px;
	position: relative;
}

#carousel-side-infos
{
	position: absolute;
	bottom: 0;
	right: 0;
}

#carousel-side-infos > p
{
	margin: 0;
}

#news-section
{
	margin-left: 60px;
	margin-right: 60px;
}

.first-subject-images
{
	object-fit: cover;
	width: 100%;
	height: 250px;
}

#first-subject-news
{
	padding-left: 10px;	
	padding-right: 10px;	
}

#first-subject-image-wrapper
{
	display: flex;
	justify-content: center;
}

.alice-carousel__stage
{
	align-items: center;
}