#first-carousel
{
	margin-top: 80px;
	margin-bottom: 80px;
}

#carousel-image-block
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 40px;
	font-family: 'Montserrat', sans-serif;
}

.carousel-news-description
{
	font-size: 20px;
}

#carousel-infos
{
	padding-bottom: 40px;
	position: relative;
}

#carousel-side-infos
{
	position: absolute;
	bottom: 0;
	right: 0;
}

#carousel-side-infos > p
{
	margin: 0;
}

#news-section
{
	margin-left: 60px;
	margin-right: 60px;
}

.first-subject-images
{
	object-fit: cover;
	width: 100%;
	height: 250px;
}

#first-subject-news
{
	position: relative;
	height: 550px;
	background-color: white;
	transition: box-shadow 0.5s ease;
	margin-bottom: 10px;
}

#first-subject-image-wrapper
{
	display: flex;
	justify-content: center;
}

.alice-carousel__stage
{
	align-items: center;
}

#first-subject-news > p
{
	font-size: 17px;
	margin: 0;
	padding: 15px;
}

#first-subject-news > h2
{
	padding: 11px;
	margin: 0;
}

.news-author-auto
{
	position: absolute;
	bottom: 0;
	right: 0;
}

#first-subject-news:hover
{
	text-decoration: underline;
	cursor: pointer;
	box-shadow: 1px 1px 5px #333;
}

.alice-carousel__prev-btn
{
	position: absolute;
	top: 45%;
	left: -45px;
	border-radius: 50%;
	font-size: 30px;
}

.alice-carousel__next-btn
{
	position: absolute;
	top: 45%;
	right: -45px;
	border-radius: 50%;
	font-size: 30px;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn
{
	width: auto;
}

#all-news
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 30px;
	gap: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 60px;
}

#all-news-section
{
	display: flex;
	flex-direction: row;
	gap: 15px;
	border: 1px solid black;
	background-color: white;
}

.all-news-imgs
{
	object-fit: cover;
}

#all-news-section > div > h3
{
	margin-top: 8px;
	margin-bottom: 0;
	padding-right: 20px;
}

#all-news-section > div > p
{
	padding-right: 20px;
}

#all-news-section > img
{
	object-fit: cover;
}

#news-part
{
	display: flex;
	flex-direction: column;
	gap: 30px;
}
