.alice-carousel
{
	margin-top: 80px;
	margin-bottom: 50px;
}

#carousel-image-block
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 40px;
	font-family: 'Montserrat', sans-serif;
}

.carousel-news-description
{
	font-size: 20px;
}

#carousel-infos
{
	padding-bottom: 40px;
	position: relative;
}

#carousel-side-infos
{
	position: absolute;
	bottom: 0;
	right: 0;
}

#carousel-side-infos > p
{
	margin: 0;
}

#news-section
{

	margin-left: 60px;
	margin-right: 60px;
}